@import "_variable.scss";

.navbar {
    background: #28334aff;
    size: 100rem;
    font-family: "Poppins", sans-serif;
    color: black !important;
}
.about-us p {
    padding-top: -120rem;
}

.about-image {
    padding-top: 2rem;
    height: 35rem;
    width: 45rem;
    margin-left: -13rem;
}
.about-image2 {
    padding-top: 6rem;
    margin-left: 2rem;
    height: 33rem;
    width: 20rem;
}

.about-title {
    font-size: 4rem;
    display: flex;
    text-align: center;
    margin-left: 18rem;
}

.about-who-are-we {
    margin-left: 2rem;
    height: 20rem;
    width: 30rem;
    border: 1px solid;
    border-color: var(--main-dark);
    border-radius: 1%;
}
///Services///
.service-title {
    margin-top: 5rem;
}
.service-web-design {
    height: 5rem;
    width: 5rem;
}
.service-mobile {
    height: 5rem;
    width: 5rem;
}
.service-bootstrap {
    height: 5.5rem;
    width: 5.5rem;
}
.service-css {
    height: 5rem;
    width: 5rem;
}
.service-html {
    height: 5rem;
    width: 5rem;
}
.service-bug-fixing {
    height: 5rem;
    width: 5rem;
}
//Career//

.career-title {
    padding-top: 5rem;
}
.career-image {
    text-align: center;
}
.school-uniform-girls {
    height: 10rem;
    width: 8rem;
    padding-top: 3rem;
}

.Pe-uniform-boys {
    height: 15rem;
    width: 15rem;
}

.Rotc {
    height: 10rem;
    width: 8rem;
    padding-top: 3rem;
}
.cheerdance {
    height: 13rem;
    width: 13rem;
}

.image-content {
    display: flex;
    align-content: center;
    justify-content: center;
    background: #ffb347;
    color: black;
}
.facebook-logo {
    height: 3rem;
    width: 3rem;
}
.instagram-logo {
    height: 4rem;
    width: 4rem;
}
.twitter-logo {
    height: 2.9rem;
    width: 2.9rem;
}
.bottom-padding {
    padding-bottom: 10rem;
}

//Products//
.products-area {
    padding-top: 5rem;
    margin-left: 1rem;
}
.product-main-title {
    text-align: center;
}
