:root {
  --main-grey: #555555;
  --main-dark: #697689;
  --main-whitesmoke: whitesmoke;
  --primary-color: #4458dc;
  --primary-color2: #854fee;
  --title-color: #141313;
  --text-color: #777777;
  --border-color: #201f1f17;
  --gradient-color: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
  --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}

body {
  font-family: "Poppins", "Montserrat";
  background: var(--box-shadow);
  color: black;
  /* overflow-x: hidden; */
}

a {
  color: white;
}

.footer-class {
  background: #28334aff;
  color: white;
}

.footer-title {
  font-size: x-large;
}

.footer-content {
  font-style: normal;
  font-size: small;
  font-family: Montserrat;
}

.column {
  float: left;
  width: 25%;
}

.navbar {
  background: #28334aff;
  size: 100rem;
  font-family: "Poppins", sans-serif;
  color: black !important;
}

.about-us p {
  padding-top: -120rem;
}

.about-image {
  padding-top: 2rem;
  height: 35rem;
  width: 45rem;
  margin-left: -13rem;
}

.about-image2 {
  padding-top: 6rem;
  margin-left: 2rem;
  height: 33rem;
  width: 20rem;
}

.about-title {
  font-size: 4rem;
  display: -webkit-box;
  display: flex;
  text-align: center;
  margin-left: 18rem;
}

.about-who-are-we {
  margin-left: 2rem;
  height: 20rem;
  width: 30rem;
  border: 1px solid;
  border-color: var(--main-dark);
  border-radius: 1%;
}

.service-title {
  margin-top: 5rem;
}

.service-web-design {
  height: 5rem;
  width: 5rem;
}

.service-mobile {
  height: 5rem;
  width: 5rem;
}

.service-bootstrap {
  height: 5.5rem;
  width: 5.5rem;
}

.service-css {
  height: 5rem;
  width: 5rem;
}

.service-html {
  height: 5rem;
  width: 5rem;
}

.service-bug-fixing {
  height: 5rem;
  width: 5rem;
}

.career-title {
  padding-top: 5rem;
}

.career-image {
  text-align: center;
}

.school-uniform-girls {
  height: 10rem;
  width: 8rem;
  padding-top: 3rem;
}

.Pe-uniform-boys {
  height: 15rem;
  width: 15rem;
}

.Rotc {
  height: 10rem;
  width: 8rem;
  padding-top: 3rem;
}

.cheerdance {
  height: 13rem;
  width: 13rem;
}

.image-content {
  display: -webkit-box;
  display: flex;
  align-content: center;
  -webkit-box-pack: center;
          justify-content: center;
  background: #ffb347;
  color: black;
}

.facebook-logo {
  height: 3rem;
  width: 3rem;
}

.instagram-logo {
  height: 4rem;
  width: 4rem;
}

.twitter-logo {
  height: 2.9rem;
  width: 2.9rem;
}

.bottom-padding {
  padding-bottom: 10rem;
}

.products-area {
  padding-top: 5rem;
}

.product-main-title {
  text-align: center;
}

.AddProduct {
  padding-top: 5rem;
  padding-left: 5rem;
  padding-right: 3rem;
}

